@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Brand Colors */
  --coastal: #5D878C;
  --charcoal: #222326;
  --slate-gray: #3B3C40;
  --sand: #BFB195;
  --cream: #F2F2F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-montserrat), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
